@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

html {
    font-size: 16px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 16px;
  
  }
#logo img
  {
    width: 110px;
    height: 50px;
    margin-top: 20px;
  
  }

body {
    margin: 0;
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
}

.wrapper {
    padding: 0 1rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li a {
    margin: 0 0.5rem;
}

.filters {
    display: flex;
    align-items: center;
}

.filters-list {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.filter {
    margin: 0 0.5rem;
    border: 1px solid #cfcfcf;
    border-radius: 1.5rem;
}

