@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

html {
    font-size: 16px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 16px;
  
  }
#logo img
  {
    width: 110px;
    height: 50px;
    margin-top: 20px;
  
  }
.intro h1{
    margin-bottom: 0.5px;

}


  body {
    margin: 0;
    font-family: "Raleway", "Sans serif";
    font-size: 1rem;
}

.wrapper {
    padding: 0 1rem;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

nav ul li a {
    margin: 0 0.5rem;
}

.filters {
    display: flex;
    align-items: center;
    margin-top: 13px;
    font-size: 18px;
}

.filters-list {
    display: flex;
    align-items: center;
    margin-left: 2rem;
}

.filter {
    margin: 0 0.5rem;
    padding-right: 0.5rem;
    border: 1px solid #cfcfcf;
    border-radius: 1.5rem;
    cursor: pointer;
    margin-top: 13px;
  }


nav ul li a{

    padding-top: 1.5rem;
    margin: 0.5rem;
    color: black;
    text-decoration: none;
    border-top: 2px solid white;
    font-size: 15px;
    margin-right: 40px ;

}

nav ul li:last-child
a {
    color: blue;
    font-weight: bold ;
}
.searchFormSearchinput {
    border-right: none;
    border-left: none;
    border-top: #F2F2F2 1px solid;
    border-bottom: #F2F2F2 1px solid;
    padding: 0 1.5rem;
    box-sizing: border-box;
    width: 13rem;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Raleway", "Sans serif";
    
}
h1
{
    font-size: 33px;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.search-list
{
    float: left;
}
.filter i {
    padding: 10px;
    color: #0065FC;
    background-color: #efefef;
    border-radius: 1.5rem;
  }
  .searchResult {
    display: flex;
    align-items: center;
    margin: 1rem 0 2rem 0;
  }
  .searchResult i {
    height: 2rem;
    width: 1rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
  }
.searchResult i {
    color: #0065FC;
  }
  .searchResultText {
    margin: 0;
  } 
.searchFormSubmitinputText{
    color:white;
    background-color: #0065FC;
}
.thumbnail img {
  width: 250px;
  height: 125px;
  border-radius: 10px;
}
.thumbnails  {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

.thumbnails .thumbnail .hostingpopular {
  padding: 1rem;
  text-align: center;
  border: 1px solid #cfcfcf;
  border-radius: 1.5rem;
}

.thumbnails .thumbnail .description .hostingpopular
{
  font-size: 0.9rem;
  color: #333333;
}
.description i
{
  color: #0065FC;
}
.hostingpopular img {
  width: 250px;
  height: 125px;
  border-radius: 10px;
}