@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

html {
  font-size: 16px;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 16px;
}
#logo img {
  width: 110px;
  height: 50px;
  margin-top: 20px;
}
.intro h1 {
  margin-bottom: 0.5px;
}

body {
  margin: 0;
  font-family: "Raleway", "Sans serif";
  font-size: 1rem;
}

img {
  max-width: 100%;
}

.wrapper {
  padding: 0 1rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li a {
  margin: 0 0.5rem;
}

.filters {
  display: flex;
  align-items: center;
  margin-top: 13px;
  font-size: 18px;
}

.filters-list {
  display: flex;
  align-items: center;
  margin-left: 2rem;
}

.filter {
  margin: 0 0.5rem;
  padding-right: 0.5rem;
  border: 1px solid #cfcfcf;
  border-radius: 1.5rem;
  cursor: pointer;
  margin-top: 13px;
}

nav ul li a {
  padding-top: 1.5rem;
  margin: 0.5rem;
  color: black;
  text-decoration: none;
  border-top: 2px solid white;
  font-size: 15px;
  margin-right: 40px;
}

ul {
  padding: 0;
}


nav ul li:last-child a {
  color: blue;
  font-weight: bold;
}
.searchFormSearchinput {
  border-right: none;
  border-left: none;
  border-top: #f2f2f2 1px solid;
  border-bottom: #f2f2f2 1px solid;
  padding: 0 1.5rem;
  box-sizing: border-box;
  width: 13rem;
  font-size: 1rem;
  font-weight: bold;
  font-family: "Raleway", "Sans serif";
}
h1 {
  font-size: 33px;
}
p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.search-list {
  float: left;
}

.searchResult {
  display: flex;
  align-items: center;
  margin: 1rem 0 2rem 0;
}
.searchResult i {
  height: 2rem;
  width: 1rem;
  min-height: 2rem;
  min-width: 2rem;
  border: solid 1px #d9d9d9;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
}
.searchResult i {
  color: #0065fc;
}
.searchResultText {
  margin: 0;
}
.searchFormSubmitinputText {
  color: white;
  background-color: #0065fc;
}
.filter i {
  padding: 10px;
  color: #0065fc;
  background-color: #efefef;
  border-radius: 1.5rem;
}

.thumbnails {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

.thumbnails .thumbnail  {
  background-color: white;
  border-radius: 20px;
}

.thumbnail h3 {
  margin-left: 10px;
}
.thumbnail p{
  margin-left: 10px;
}
.description{
  margin-left: 10px;
}

.thumbnails .thumbnail figure  {
  margin: 0;
}

.thumbnails .thumbnail img {
  width: 90%;
  object-fit: cover;
  height: 125px;
  border-radius: 23px;
  display: block;
  margin: 5px;
  text-align: center; 
}

.description i {
  color: #0065fc;
}

.hosting {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-gap: 3rem;
}

.hotels {
  padding: 1.5rem;
  background-color: #E5E7E9;
  border-radius: 30px ;
}

.hostingpopular {
  padding: 1.5rem;
  background-color: #E5E7E9;
  border-radius: 30px ;
}

.hostingpopular .thumbnails {
  display: block;
}

.activityWrapImg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
}

.activityWrapImg  {
  padding: 1rem;
  text-align: center;
  border: 1px solid #cfcfcf;
  border-radius: 1.5rem;
}

.activityWrapImg {
  font-size: 0.9rem;
  color: #333333;
}

.activityWrapImg {
  color:black;
}

.footer {
  margin-top: 40px;
  padding-top: 40px;
  background: #f2f2f2;
}

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: black;

}

footer h3 {
  margin-bottom: 15px;
}

footer ul {
  width: 340px;
  margin-bottom: 20px;
  list-style-type: none;
}

footer li {
  line-height: 2em;
}
footer a {
  color:black;
  text-decoration: none;
}